
@font-face {font-family: "iconfont";
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome、firefox */
  url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-appreciate:before { content: "\e600"; }
.icon-check:before { content: "\e601"; }
.icon-close:before { content: "\e602"; }
.icon-edit:before { content: "\e603"; }
.icon-emoji:before { content: "\e604"; }
.icon-favorfill:before { content: "\e605"; }
.icon-favor:before { content: "\e606"; }
.icon-locationfill:before { content: "\e607"; }
.icon-location:before { content: "\e608"; }
.icon-phone:before { content: "\e609"; }
.icon-roundcheckfill:before { content: "\e60a"; }
.icon-roundcheck:before { content: "\e60b"; }
.icon-roundclosefill:before { content: "\e60c"; }
.icon-roundclose:before { content: "\e60d"; }
.icon-roundrightfill:before { content: "\e60e"; }
.icon-roundright:before { content: "\e60f"; }
.icon-search:before { content: "\e610"; }
.icon-timefill:before { content: "\e611"; }
.icon-time:before { content: "\e612"; }
.icon-unfold:before { content: "\e613"; }
.icon-warnfill:before { content: "\e614"; }
.icon-warn:before { content: "\e615"; }
.icon-camerafill:before { content: "\e616"; }
.icon-camera:before { content: "\e617"; }
.icon-commentfill:before { content: "\e618"; }
.icon-comment:before { content: "\e619"; }
.icon-likefill:before { content: "\e61a"; }
.icon-like:before { content: "\e61b"; }
.icon-notificationfill:before { content: "\e61c"; }
.icon-notification:before { content: "\e61d"; }
.icon-order:before { content: "\e61e"; }
.icon-pay:before { content: "\e61f"; }
.icon-send:before { content: "\e620"; }
.icon-ticket:before { content: "\e621"; }
.icon-wang:before { content: "\e622"; }
.icon-back:before { content: "\e623"; }
.icon-discover:before { content: "\e624"; }
.icon-list:before { content: "\e625"; }
.icon-more:before { content: "\e626"; }
.icon-myfill:before { content: "\e627"; }
.icon-my:before { content: "\e628"; }
.icon-scan:before { content: "\e629"; }
.icon-settings:before { content: "\e62a"; }
.icon-questionfill:before { content: "\e62b"; }
.icon-question:before { content: "\e62c"; }
.icon-shopfill:before { content: "\e62d"; }
.icon-form:before { content: "\e62e"; }
.icon-wangfill:before { content: "\e62f"; }
.icon-pic:before { content: "\e630"; }
.icon-filter:before { content: "\e631"; }
.icon-top:before { content: "\e632"; }
.icon-pulldown:before { content: "\e633"; }
.icon-pullup:before { content: "\e634"; }
.icon-right:before { content: "\e635"; }
.icon-refresh:before { content: "\e636"; }
.icon-moreandroid:before { content: "\e637"; }
.icon-cart:before { content: "\e638"; }
.icon-qrcode:before { content: "\e639"; }
.icon-delete:before { content: "\e63a"; }
.icon-cartfill:before { content: "\e63b"; }
.icon-message:before { content: "\e63c"; }
.icon-lock:before { content: "\e63d"; }
.icon-vip:before { content: "\e63e"; }
.icon-roundadd:before { content: "\e63f"; }
.icon-add:before { content: "\e640"; }
.icon-info:before { content: "\e641"; }
.icon-rechargefill:before { content: "\e642"; }
.icon-recharge:before { content: "\e643"; }
.icon-sort:before { content: "\e644"; }
.icon-down:before { content: "\e645"; }
.icon-notice:before { content: "\e646"; }
.icon-new:before { content: "\e647"; }
.icon-pullleft:before { content: "\e648"; }
.icon-pullright:before { content: "\e649"; }
.icon-rankfill:before { content: "\e64a"; }
.icon-rank:before { content: "\e64b"; }
.icon-bad:before { content: "\e64c"; }
.icon-cameraadd:before { content: "\e64d"; }
.icon-focus:before { content: "\e64e"; }
.icon-friendfill:before { content: "\e64f"; }
.icon-cameraaddfill:before { content: "\e650"; }
.icon-apps:before { content: "\e651"; }
.icon-refresharrow:before { content: "\e652"; }
.icon-hotfill:before { content: "\e653"; }
.icon-hot:before { content: "\e654"; }
.icon-markfill:before { content: "\e655"; }
.icon-mark:before { content: "\e656"; }
.icon-peoplefill:before { content: "\e657"; }
.icon-people:before { content: "\e658"; }
.icon-servicefill:before { content: "\e659"; }
.icon-repair:before { content: "\e65a"; }
.icon-file:before { content: "\e65b"; }
.icon-repairfill:before { content: "\e65c"; }
.icon-attentionfill:before { content: "\e65d"; }
.icon-attention:before { content: "\e65e"; }
.icon-read:before { content: "\e65f"; }
.icon-calendar:before { content: "\e660"; }
.icon-cut:before { content: "\e661"; }
.icon-tagfill:before { content: "\e662"; }
.icon-tag:before { content: "\e663"; }
.icon-move:before { content: "\e664"; }
