@charset "UTF-8";

$main-color: rgb(228, 76, 101);

html,body{
  width: 100%;
  height: 100%;
}

.ps-tools,.ps-viewer{
  height: 100%;
  overflow: hidden;
}

.ps-tools{

  color: #fff;

  background-color: #292E32;
}

.ps-viewer{

  padding: 50px;

  background-color: #f7f7f7;

  .ps-image{
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;

    img{
      display: block;
      transition: scale .1s;
    }
  }

  .ps-footer{
    position: absolute;
    left: 0;
    bottom: 0;

    width: 100%;
    height: 55px;

    background-color: #d3d3d3;

    .scale-range{
      position: absolute;
      right: 25px;
      top: 30px;

      width: 100px;
      height: 10px;

      border: 1px solid #ccc;
      background-color: #fff;
      box-sizing: border-box;
      border-radius: 3px;
    }
  }
}